* {
    margin: 0px;
    padding: 0px;
}

.navbar {
    height: 110px;
    background: #fff;
}

.navbar-brand img {
    width: 80%;
}

.navbar-toggler {
    border: none !important;
}

.nav-btn-1 {
    background-color: #75BF7A;
    color: #fff;
    padding: 10px 20px;
    font-weight: 500;
    border: none;
    border-radius: 5.9px;
}

@media only screen and (max-width:768px) {
    .navbar {
        height: auto !important;
    }

    .navbar-brand img {
        width: 60%;
    }

    .nav-item {
        display: flex !important;
        justify-content: center !important;

    }

    .theme-btn {
        display: flex;
        justify-content: center;
    }
}

/* yaha tak navbar ki styling hai */


.banner-content h1 {
    font-family: sans-serif;
    font-size: 48px;
    color: #000;
    margin-bottom: 15px;
    font-weight: 800;
    line-height: 66px;
    letter-spacing: 0em;
    text-align: left;

}

.banner-para-1 {
    font-family: sans-serif;
    color: #9E9DA2;
    font-size: 24px;
    margin-bottom: 50px;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 0em;
    text-align: left;

}

.banner-left {
    /* padding: 20px; */
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: end;
}

.banner-img-1 {
    display: flex;
    justify-content: center;
    padding-top: 10px;
}

@media only screen and (max-width: 1025px) {
    .banner-content h1 {
        font-size: 38px;

    }

    .banner-para-1 {
        font-size: 21px;
        margin-bottom: 20px;
    }
}

@media only screen and (max-width: 769px) {
    .banner-content h1 {
        font-size: 28px;
        line-height: 40px;

    }

    .banner-para-1 {
        font-size: 15px;
        margin-bottom: 20px;
    }

    .banner-btn img {
        width: 130px;
    }
}

@media only screen and (max-width: 485px) {
    .banner-content h1 {
        font-size: 32px;
        line-height: 40px;
        text-align: center;
        margin-top: 30px;

    }

    .banner-para-1 {
        font-size: 17px;
        margin-bottom: 20px;
        text-align: center;
    }

    .banner-btn img {
        width: 130px;
    }

    .banner-btn {
        display: flex;
        justify-content: center;
    }

    .banner {
        flex-direction: column-reverse;
    }
}

@media only screen and (max-width: 385px) {
    .banner-content h1 {
        font-size: 28px;
        line-height: 40px;
        text-align: center;
        margin-top: 30px;

    }

    .banner-para-1 {
        font-size: 15px;
        margin-bottom: 20px;
        text-align: center;
    }

    .banner-btn img {
        width: 130px;
    }

    .banner-btn {
        display: flex;
        justify-content: center;
    }

    .banner {
        flex-direction: column-reverse;
    }
}

@media only screen and (max-width: 320px) {
    .banner-content h1 {
        font-size: 22px;
        line-height: 40px;
        text-align: center;
        margin-top: 30px;

    }

    .banner-para-1 {
        font-size: 16.5px;
        margin-bottom: 20px;
        text-align: center;
    }

    .banner-btn img {
        width: 130px;
    }

    .banner-btn {
        display: flex;
        justify-content: center;
    }

    .banner {
        flex-direction: column-reverse;
    }
}

/*yaha tak navbar or banner ka kam howa hai full responsive k sath */


/* yaha Sey second section ka code Start howa hai */

.connect {
    background-color: #75BF7A;
    padding: 40px;
    border-radius: 8px;
    align-items: center;
}

.connect-h2 {
    font-family: sans-serif;
    color: #fff;
    font-size: 24px;
    font-weight: 600;
    line-height: 28px;
    letter-spacing: 0em;
    text-align: left;

}

.input-group input {
    padding: 20px 20px;
    background-color: #fff;
}

.input-group input::placeholder {
    color: #DADADA;
}

.connect-btn1 {
    font-family: sans-serif;
    background-color: #000;
    color: #fff;
    font-size: 20px;
    font-weight: 700;
    letter-spacing: 0em;
    text-align: left;
    padding: 17px 38px;
    border: none;
    border-radius: 5px;
}

@media only screen and (max-width: 1024px) {

    .connect-h2 {
        font-family: sans-serif;
        color: #fff;
        font-size: 21px;
        font-weight: 500;

    }

    .input-group input {
        padding: 12px 20px;
    }

    .connect-btn1 {
        font-size: 15px;
        font-weight: 600;
        padding: 13px 25px;
    }
}

@media only screen and (max-width: 768px) {

    .connect-h2 {
        font-family: sans-serif;
        color: #fff;
        font-size: 19px;
        font-weight: 500;

    }

    .input-group input {
        padding: 14px 15px;
    }

    .input-group input::placeholder {
        color: #DADADA;
        text-align: center;
    }

    .connect-btn1 {
        font-size: 12px;
        font-weight: 600;
        padding: 18px;
    }

    .connect {
        padding: 30px;
    }
}

@media only screen and (max-width: 426px) {

    .connect-h2 {
        font-size: 26px;
        font-weight: 500;
    }

    .input-group input {
        padding: 14px 15px;
        margin-top: 25px;
    }

    .input-group input::placeholder {
        color: #DADADA;
        text-align: center;
        font-size: 14px;
    }

    .connect-btn1 {
        font-size: 16px;
        font-weight: 600;
        padding: 14px;
        margin-top: 15px;
        margin-bottom: 10px;
        width: 100%;
        text-align: center;
    }

    .connect {
        padding: 30px 20px 30px 20px;
    }
}

@media only screen and (max-width: 321px) {
    .connect-h2 {
        font-size: 22px;
        font-weight: 500;
    }

}

/* yaha pea second section ka code coplete howa hai full responsive k sath */

.content-3d-section h1 {
    font-family: sans-serif;
    color: #000;
    text-align: center !important;
    margin-bottom: 20px;
    margin-top: 40px;
    font-size: 40px;
    font-weight: 700;
    line-height: 50px;
    letter-spacing: 0em;
    text-align: left;

}

.content-3d-section h1 span {
    color: #75BF7A;
    font-weight: 700;

}

.content-3d-section p {
    font-family: sans-serif;
    color: #9E9DA2;
    font-size: 24px;
    font-weight: 500;
    line-height: 26px;
    letter-spacing: 0em;
    text-align: center;

}

@media only screen and (max-width: 1025px) {
    .content-3d-section p {
        font-size: 22px;
    }
}

@media only screen and (max-width: 769px) {
    .content-3d-section h1 {
        margin-bottom: 20px;
        font-size: 40px;
        font-weight: 700;
    }

    .content-3d-section p {
        font-size: 21px;
        font-weight: 500;
    }
}

@media only screen and (max-width: 426px) {
    .content-3d-section {
        padding: 0px 27px 0px 27px;
    }

    .content-3d-section h1 {
        margin-bottom: 3px;
        margin-top: 0px;
        font-size: 22px;
        font-weight: 800;
    }

    .content-3d-section h1 span {
        margin-bottom: 5px;
        font-size: 22px;
        font-weight: 800;
    }

    .content-3d-section p {
        font-size: 19px;
        font-weight: 500;
    }
}

@media only screen and (max-width: 376px) {
    .content-3d-section {
        padding: 0px 10px 0px 10px;
    }
}

@media only screen and (max-width: 321px) {
    .content-3d-section {
        padding: 0px 5px 0px 5px;
    }

    .content-3d-section h1 {
        margin-bottom: 3px;
        margin-top: 0px;
        font-size: 20px;
        font-weight: 800;
    }

    .content-3d-section h1 span {
        margin-bottom: 3px;
        font-size: 20px;
        font-weight: 800;
    }

    .content-3d-section p {
        font-size: 16px;
        font-weight: 500;
    }
}

/*yaha pea 3rd section ka code complete hogaya full responsive k sath */

.content-left img {
    width: 60.82px;
}

.content-left h1 {
    font-family: sans-serif;
    font-size: 20px;
    font-weight: 800;
    line-height: 50px;
    letter-spacing: -1.5px;
    text-align: right;

}

.content-left p {
    font-family: sans-serif;
    color: #9E9DA2;
    font-size: 19px;
    font-weight: 500;
    line-height: 26px;
    letter-spacing: 0em;
    text-align: right;

}

.content-center {
    background-image: url(Images/circle.png);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    overflow: hidden;
}

.content-center {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 100%;
}

.content-center img {
    max-width: 100%;
    height: auto;
}

.content-right img {
    width: 60.82px;
}

.content-right h1 {
    font-family: sans-serif;
    font-size: 20px;
    font-weight: 800;
    line-height: 50px;
    letter-spacing: -1.5px;
    text-align: left;

}

.content-right p {
    font-family: sans-serif;
    color: #9E9DA2;
    font-size: 19px;
    font-weight: 500;
    line-height: 26px;
    letter-spacing: 0em;
    text-align: left;

}

.column-1 {
    display: none;
}

.col-icon-1-2 {
    display: none;
}

.col-icon-3-4 {
    display: none;
}

@media only screen and (max-width: 769px) {
    .content-left {}

    .content-left img {
        display: flex;
        justify-content: center;
        width: 40.82px;
        margin-top: 40px !important;
        margin-bottom: 25px !important;
    }

    .content-left h1 {
        text-align: right;
        font-size: 16px;
        line-height: 30px;
        letter-spacing: -1px;

    }

    .content-left p {
        text-align: right;
        font-size: 15px;
    }

    .content-center img {
        text-align: center;
        width: 160px;
    }

    .content-right img {
        width: 40.82px;
        display: flex;
        justify-content: left;
        margin-top: 40px !important;
        margin-bottom: 25px !important;
    }

    .content-right h1 {
        text-align: left;
        font-size: 16px;
        line-height: 30px;
        letter-spacing: -1px;
    }

    .content-right p {
        text-align: left;
        font-size: 15px;

    }

}

@media only screen and (max-width: 426px) {
    .content-left {
        align-items: center;
        text-align: center;
    }

    .content-left img {
        width: 40.82px;
        height: auto;
        display: inline-block;
        margin-bottom: 15px;
        margin-top: 20px;
    }

    .content-left h1 {
        text-align: center;
        font-size: 18px;

    }

    .content-left p {
        text-align: center;
        font-size: 16px;
    }

    .content-center img {
        text-align: center;
        width: 160px;
    }

    .content-right {
        align-items: center;
        text-align: center;
    }

    .content-right img {
        width: 40.82px;
        height: auto;
        display: inline-block;
    }

    .content-right h1 {
        text-align: center;
        font-size: 18px;
    }

    .content-right p {
        text-align: center;
        font-size: 16px;
    }

    .content-center {
        background-image: url(Images/circle.png);
        background-size: 250px;
    }

    .column-1 {
        display: block;
    }

    .column-2 {
        display: none;
    }

    .content-right img {
        flex-direction: column-reverse;
    }

    .content-left img {
        flex-direction: column-reverse;
    }

    .col-icon-1-2 {
        display: block;
    }

    .col-icon-3-4 {
        display: block;
    }

    .icons-h {
        display: none !important;
    }
}

/* yaha tak third section ki styling hai with responsive */

.h-4th-sec h1 {
    font-family: sans-serif;
    font-size: 46px;
    color: #000;
    font-weight: 800;
    line-height: 50px;
    letter-spacing: 0em;
    text-align: left;
}

.h-4th-sec h1 span {
    font-family: sans-serif;
    font-size: 46px;
    color: #75BF7A;
    font-weight: 800;
    line-height: 50px;
    letter-spacing: 0em;
    text-align: left;
}

@media only screen and (max-width:426px) {
    .h-4th-sec h1 {
        color: #000;
        font-family: sans-serif;
        font-size: 22px;
        font-weight: 800;
        line-height: 50px;
        letter-spacing: 0em;

    }

    .h-4th-sec h1 span {
        color: #75BF7A;
        font-family: sans-serif;
        font-size: 22px;
        font-weight: 800;
        line-height: 50px;
        letter-spacing: 0em;

    }
}

@media only screen and (max-width:320px) {
    .h-4th-sec h1 {
        color: #000;
        font-family: sans-serif;
        font-size: 25px !important;
        font-weight: 800;
        line-height: 50px;
        letter-spacing: 0em;

    }

    .h-4th-sec h1 span {
        color: #75BF7A;
        font-family: sans-serif;
        font-size: 25px !important;
        font-weight: 800;
        line-height: 50px;
        letter-spacing: 0em;

    }
}

.left-s-row {
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90%;
    border-radius: 10px;
    margin-top: 50px !important;
    padding: 45px 30px 45px 0px !important;
}

.right-s-row {
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90%;
    border-radius: 10px;
    /* margin-left: 120px !important; */
    margin-top: 40px !important;
    padding: 45px 30px 45px 0px !important;
}

.right-main-div {
    display: flex;
    justify-content: right !important;
    align-items: center;
}

.h-img {
    display: flex;
    justify-content: left;
    align-items: center;
}

.h-img img {
    width: 90px;
}

.h-img h1 {
    font-family: sans-serif;
    font-size: 34px;
    font-weight: 600;
    line-height: 33px;
    letter-spacing: 0em;
}

.paragraph-2 p {
    font-family: sans-serif;
    color: #9E9DA2;
    font-size: 20px;
    font-weight: 500;
    line-height: 23px;
    letter-spacing: 0em;
    margin-top: 20px;
}

.s-img img {
    width: 200.79px;
}

@media only screen and (max-width:1025px) {

    .h-img img {
        width: 70px;
    }

    .h-img h1 {
        font-size: 28px;
        font-weight: 600;
    }

    .paragraph-2 p {
        font-size: 18px;
        font-weight: 500;

    }

    .s-img img {
        width: 180px;
    }
}

@media only screen and (max-width:768px) {
    .h-4th-sec h1 {
        font-size: 35px;
        font-weight: 800;
    }

    .h-4th-sec h1 span {
        font-size: 35px;
        font-weight: 800;
    }

    .left-s-row {
        width: 100%;
        padding: 45px 20px 45px 20px !important;
    }

    .right-s-row {
        width: 100%;
        padding: 45px 20px 45px 20px !important;
    }

    .h-img img {
        width: 60px;
    }

    .h-img h1 {
        font-size: 25px;
        font-weight: 600;
    }

    .paragraph-2 p {
        font-size: 15px;
        font-weight: 500;

    }

    .s-img img {
        width: 150px;
    }
}

@media only screen and (max-width:426px) {
    .left-s-row {
        background-color: transparent !important;
        display: flex;
        width: 100%;
        border-radius: 10px;
        margin-top: 0px !important;
        padding: 45px 0px 5px 0px !important;
    }

    .right-s-row {
        background-color: transparent !important;
        display: flex;
        width: 100%;
        border-radius: 10px;
        margin-top: 0px !important;
        padding: 5px 0px 45px 0px !important;
        flex-direction: column-reverse;
    }

    .f-main-sec {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
    }

    .column-s {
        display: flex;
        align-items: center;
        flex-direction: column;
        width: 100%;
    }

    .paragraph-2 p {
        font-size: 15px;
        font-weight: 500;
        text-align: center;
    }

    .s-img {
        display: flex;
        justify-content: center;
    }
}

.footer-main {
    border-top: 1px solid #ECECEC;
    border-bottom: 1px solid #ECECEC;
}

.f-logo {
    display: flex;
    justify-content: right;
    align-items: center;
}

.f-logo img {
    width: 80%;
}

.h-con {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.h-con h1 {
    font-weight: 400;
    font-size: 25px;
}

.h-con p {
    color: #706d7c;
    font-size: 16px;
    line-height: 30px;
}

.googles-icon img {
    width: 40% !important;
}

.googles-icon {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

@media only screen and (max-width:770px) {
    .h-con h1 {
        font-weight: 400;
        font-size: 16px;
    }

    .h-con p {
        color: #706d7c;
        font-size: 12px;
        line-height: 30px;
    }

    .googles-icon img {
        width: 35%;
    }

    .f-logo img {
        width: 100px;
    }
}

@media only screen and (max-width:426px) {
    .f-logo {
        display: flex !important;
        justify-content: center !important;
        margin-top: 20px;
        padding-bottom: 25px;
    }

    .googles-icon {
        display: flex !important;
        flex-direction: column !important;
    }
    .googles-icon img{
        margin-top: 30px;
    }

}
.copy-right{
    color: #75BF7A;
    font-weight: 200;
    font-size: 14px;
    cursor: pointer;
    text-align: center;
}